@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 공통 박스 스타일 */
.common-box {
  width: 100%;
  min-height: 150px;
  border: 1px solid #333;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  position: relative;
}

/* 공통 버튼 스타일 */
.common-button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.common-button:hover {
  background-color: #45a049;
}
